body {
    background-color: #DDD;
    margin: 50px;
}

h1 {
    text-align: center;
}

#menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}

#menu a:hover {
    background-color: #777;
    cursor: pointer;
}

#menu {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    color: white;
}

.menu-item {
    float: none;
}

#wrapper {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}



.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


#form-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: #EEE;
    min-height: 300px;
    border: 2px dashed #AAA;
}

form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    font-size: 16px;
    width: 100%;
    margin: 20px 0px;
}

textarea {
    font-size: 14px;
    width: 100%;
    margin: 20px 0px;
}

input[type=submit] {
     font-size: 16px;
     background-color: #00BB00;
     width: 200px;
     margin-left: auto;
     margin-right: auto;
     display: block;
     margin-top: 40px;
}